@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@source "./**/*.{html,js,ts,jsx,tsx}";

* {
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  html,
  body {
    background-color: #0b1020;
    color: #f9fafb;
    min-height: 100%;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
